* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header {
  background-color: #4fc08d;
  color: white;
  margin: 3rem auto;
  text-align: center;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.562);
  width: 90%;
}

.card {
  margin: 3rem auto;
  text-align: center;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.562);
  width: 90%;
}

.card .title {
  color: #4fc08d;
  font-size: 2rem;
  /* border-bottom: 2px solid #ccc; */
  margin: 0 0 1rem 0;
}

.card .content {
  font-size: 20px;
  margin-top: 3rem;
}

.card .result {
  width: 90%;
  max-width: 500px;
  font-size: 1.25rem;
  font-weight: bold;
  border: 1px solid #4fc08d;
  background-color: #4fc08d;
  color: white;
  padding: 0.5rem;
  border-radius: 25px;
}

.card input {
  max-width: 500px;
  width: 90%;
  font: inherit;
  border: 1px solid #ccc;
}
.card input:focus {
  outline: none;
  border-color: #1b995e;
  background-color: #d7fdeb;
}
.card button {
  font: inherit;
  cursor: pointer;
  border-radius: 3px;
  border: 1px solid #ff0077;
  background-color: #ff0077;
  color: white;
  padding: 0.05rem 1rem;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.26);
}

.card button:hover,
.card button:active {
  background-color: #ec3169;
  border-color: #ec3169;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.26);
}
