<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <link rel="stylesheet" href="01-basic-html.css" />
    <title>Document</title>
  </head>
  <body>
    <div id="vueapp">
      <div class="header">
        <h1>{{text}}</h1>
      </div>

      <div class="card">
        <div class="title">Create Card</div>
        <input type="text" v-model="currentName" />
        <button v-show="currentName.length > 0" @click="createCard">Send</button>
      </div>

      <div class="card" v-for="(item) in data">
        <div class="title">{{item}}</div>
      </div>
      
    </div>
  </body>
</html>

<!-- Basic in file -->
<script>
  new Vue({
    data() {
      return {
        text: 'vue.js',
        currentName: '',
        data: [],
      }
    },
    methods: {
      createCard() {
        this.data.push(this.currentName)
      },
      removeCard() {},
    },
  }).$mount('#vueapp')
</script>
