<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <link rel="stylesheet" href="01-basic-html.css" />
    <title>Document</title>
  </head>
  <body>
    <div id="vueapp">
      <div class="header">
        <h1>{{text1}}</h1>
      </div>
      <!-- <div class="card">
        <h2 class="title">Component</h2>
        <button @click="state = !state">{{state ? "Hidden" : "Show"}}</button>
        <ul v-if="state">
          <li>Ukrit Fongsomboon</li>
          <li>Ukrit Fongsomboon</li>
          <li>Ukrit Fongsomboon</li>
        </ul>
      </div> -->
      <my-component title="Title 1" :data="item1"></my-component>
      <my-component title="Title 2" :data="item2"></my-component>
    </div>
  </body>
</html>

<!-- Basic in file -->
<script>
  const app1 = new Vue({
    data() {
      return {
        text1: 'vue.js App 1',
        input: '',
        // state: false,
        item1: ['a', 'b', 'c'],
        item2: [1, 2, 3, 4],
      }
    },
  })

  Vue.component('my-component', {
    template: `
    <div class="card">
      <h2 class="title">{{title}}</h2>
      <button @click="state = !state">{{state ? "Hidden" : "Show"}}</button>
      <ul v-if="state">
        <li v-for="item in data">{{item}}</li>
      </ul>
    </div>`,
    data() {
      return {
        state: false,
      }
    },

    // https://vuejs.org/guide/components/props.html

    // props: ['title'],
    props: {
      title: String,
      data: Array,
    },
  })

  app1.$mount('#vueapp')
</script>
