<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <link rel="stylesheet" href="01-basic-html.css" />
    <title>Document</title>
  </head>
  <body>
    <div id="vueapp">
      <div class="header">
        <h1>{{text1}}</h1>
      </div>
      <!-- <div class="card">
        <h2 class="title">Component</h2>
        <button @click="state = !state">{{state ? "Hidden" : "Show"}}</button>
        <ul v-if="state">
          <li>Ukrit Fongsomboon</li>
          <li>Ukrit Fongsomboon</li>
          <li>Ukrit Fongsomboon</li>
        </ul>
      </div> -->

      <!-- https://vuejs.org/guide/components/slots.html#slot-content-and-outlet -->
      <div class="card">
        <h2 class="title">{{parent_title_1}}</h2>
        <my-component title="Child">
          <!-- <template v-slot:header> -->
          <template #header>
            <h2>Slot Name</h2>
            <button>Click 1</button>
            <button>Click 1</button>
            <button>Click 1</button>
          </template>
        </my-component>
      </div>

      <div class="card">
        <h2 class="title">{{parent_title_1}}</h2>
        <my-component title="Child">
          <template #header="{data}">
            <h2>Scoped Slots</h2>
            {{data}}
          </template>
        </my-component>
      </div>

      <div class="card">
        <h2 class="title">{{parent_title_1}}</h2>
        <my-component title="Child">
          <template #header="{on,data}">
            <h2>Scoped Slots</h2>
            <button v-for="item in data" :key="item" @click="on(item)">Click {{item}}</button>
          </template>
        </my-component>
      </div>
    </div>
  </body>
</html>

<!-- Basic in file -->
<script>
  const app1 = new Vue({
    data() {
      return {
        text1: 'vue.js App 1',
        input: '',
        // state: false,
        parent_title_1: 'Parent 1',
        item1: ['a', 'b', 'c'],
        item2: [1, 2, 3, 4],
      }
    },
    methods: {
      childClick(val) {
        console.log(val)
      },
    },
  })

  Vue.component('my-component', {
    template: `
        <div class="card">
          <h2 class="title">{{title}}</h2>
          <button @click="state = !state">{{state ? "Hidden" : "Show"}}</button>
          <div v-if="state">
            <slot name="header" v-bind:data="slotData" :on="clickFromSlot"></slot>
          </div>
        </div>`,
    data() {
      return {
        state: false,
        slotData: [1, 2, 3, 4, 5, 6],
      }
    },
    methods: {
      clickFromSlot(val) {
        alert(val)
      },
    },
    // https://vuejs.org/guide/components/props.html
    // props: ['title'],
    props: {
      title: String,
      data: Array,
    },
  })

  app1.$mount('#vueapp')
</script>
